@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ChangeUsername</title>
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css">
        <style>
            body {
                background-image: url("/images/hex.png");
                background-repeat: repeat;
            }

            #username {
                background-image: url("/images/hex-dark.png");
                background-repeat: repeat;
            }

            h1 {
                color: white;
            }
        </style>
    </head>
    <body>
        @Html.Raw(ViewBag.ErrorMessage)
        <div class="container" style="border-left: 1px solid lightgray; border-right: 1px solid lightgray; height: 100%; padding-top: 20px; background: white; padding-top: 0;">
            <div id="username" class="row" style="border-bottom: 1px solid lightgray;">
                <div class="col">
                    <h1>Изменить имя пользователя</h1>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col">
                    <form asp-controller="Account" asp-action="ChangeUsername" method="post">
                        <table>
                            <tr>
                                <td>Новое имя пользователя:</td>
                                <td><input type="text" name="username"></td>
                            </tr>
                            <tr>
                                <td>Текущий пароль:</td>
                                <td><input type="password" name="password"></td>
                            </tr>
                            <tr style="height: 100px;">
                                <td><input type="submit" value="Подтвердить" class="btn btn-success"></td>
                                <td></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>

        <script src="~/lib/jquery/jquery-3.2.1.slim.min.js"></script>
        <script src="~/lib/bootstrap/js/popper.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
