<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Персональная страница</title>
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css">
        <style>
            body {
                background-image: url("/images/hex.png");
                background-repeat: repeat;
            }

            #username {
                background-image: url("/images/hex-dark.png");
                background-repeat: repeat;
            }

            h1 {
                color: white;
            }
        </style>
    </head>
    <body>
        <div class="container" style="border-left: 1px solid lightgray; border-right: 1px solid lightgray; height: 100%; padding-top: 20px; background: white; padding-top: 0;">
            <div id="username" class="row" style="border-bottom: 1px solid lightgray;">
                <div class="col">
                    <h1>@ViewBag.Username</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/">Главная страница</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/Data">Сборки метеоданных</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/Account/ChangeUsername">Изменить имя</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/Account/ChangePassword">Изменить пароль</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/Account/SignOut">Выход</a>
                </div>
            </div>
        </div>

        <script src="~/lib/jquery/jquery-3.2.1.slim.min.js"></script>
        <script src="~/lib/bootstrap/js/popper.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
