<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Доступ запрещен</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div style="width: 50%; height: 50%; margin: auto auto;">
        <h1 align="center">Доступ запрещен</h1>
        <p align="center">Пожалуйста, воспользуйтесь формой для <a href="/Account/SignIn">входа в систему</a>, чтобы получить полный доступ к сайту</p>
    </div>

    <script src="~/lib/jquery/jquery-3.2.1.slim.min.js"></script>
    <script src="~/lib/bootstrap/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>