<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Месяцы</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css">

    <style>
        table tr td a {
            display: block;
            height: 100%;
            width: 100%;
        }

        table tr td {
            padding-left: 0;
            padding-right: 0;
        }
    </style>
</head>
<body>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Имя таблицы</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/Data/Months/January">Январь</a></td>
            </tr>
            <tr>
                <td><a href="/Data/Months/February">Февраль</a></td>
            </tr>
            <tr>
                <td><a href="/Data/Months/March">Март</a></td>
            </tr>
            <tr>
                <td><a href="/Data/Months/April">Апрель</a></td>
            </tr>
            <tr>
                <td><a href="/Data/Months/May">Май</a></td>
            </tr>
            <tr>
                <td><a href="/Data/Months/June">Июнь</a></td>
            </tr>
            <tr>
                <td><a href="/Data/Months/July">Июль</a></td>
            </tr>
            <tr>
                <td><a href="/Data/Months/August">Август</a></td>
            </tr>
            <tr>
                <td><a href="/Data/Months/September">Сентябрь</a></td>
            </tr>
            <tr>
                <td><a href="/Data/Months/October">Октябрь</a></td>
            </tr>
            <tr>
                <td><a href="/Data/Months/November">Ноябрь</a></td>
            </tr>
            <tr>
                <td><a href="/Data/Months/December">Декабрь</a></td>
            </tr>
        </tbody>
    </table>

    <script src="~/lib/jquery/jquery-3.2.1.slim.min.js"></script>
    <script src="~/lib/bootstrap/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>